section {
    --main-color: #e79653;
  /* #e8786e */
  --black: #555;
  --light-color: #777;
  --bg: #fcf4f4;
  /* #fceae9; */
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 2rem;
  color: var(--black);
}

.heading span {
  color: var(--main-color);
  border-radius: 0.5rem;
  background: var(--bg);
  padding: 0 1.5rem;
}

.btn#learn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}



.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content .title {
  font-size: 2.5rem;
  color: var(--black);
}



.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.about .row .content .icons-container .icons {
  flex: 1 1 15rem;
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.5rem;
  text-align: center;
}




