
section {
    --main-color: #e9e9e9;
    /* #e8786e */
    --black: #555;
    --light-color: #777;
    --bg: #fcf4f4;
    /* #fceae9; */
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
}





section {
  --main-color: #e79653;
/* #e8786e */
--black: #555;
--light-color: #777;
--bg: #fcf4f4;
/* #fceae9; */
--border: 0.1rem solid rgba(0, 0, 0, 0.1);
--box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
padding: 2rem 9%;
}

.heading {
text-align: center;
padding-bottom: 3rem;
font-size:2.5rem;
color: var(--black);
}

.heading span {
color: var(--main-color);
border-radius: 0.5rem;
background: var(--bg);
padding: 0 1.5rem;
}

.header .logo {
  font-size: 2.5rem;
  color: rgb(106, 224, 185);
  /* color:var(--black); */
  font-weight: bolder;
}

.header .navbar a {
  font-size: 1.7rem;
  color: rgb(106, 224, 185);
  /* color: var(--light-color); */
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}


.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
  background: var(--bg);
  position: relative;
}

.home .content {
  flex: 1 1 45rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  line-height: 1.8;
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto, minmax(20rem, 1fr));
  
}

.services .box-container .box {
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.services .box-container .box img {
  height: 5rem  ;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 1.6rem;
  padding-top: 1.5rem;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 1.8;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content .title {
  font-size: 2.5rem;
  color: var(--black);
}



.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.about .row .content .icons-container .icons {
  flex: 1 1 15rem;
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.5rem;
  text-align: center;
}




.review .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.review .box-container .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review .box-container .box .user h3 {
  font-size: 1.6rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.review .box-container .box .user .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.review .box-container .box .fa-quote-right {
  margin-left: auto;
  font-size: 5rem;
  color: var(--bg);
}

.review .box-container .box p {
  font-size: 80.5%;
  padding-top: 1rem;
  
  color: var(--light-color);
  font-style: italic;
}
.contact .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.contact .icons-container .icons {
  padding: 1rem;
  text-align: center;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color: var(--main-color);
  background: var(--bg);
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  color: var(--black);
  padding: 1rem 0;
  font-size: 2rem;
}

.contact .icons-container .icons p {
  color: var(--light-color);
  line-height: 1.8;
  font-size: 1.2rem;
}

.contact .row {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  padding: 2rem;
  height: 500px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 1rem 2rem 1rem 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact .row form .box {
  margin: 0.7rem 0;
  padding: 1rem;
  font-size: 1rem;
  color: var(--black);
  border-radius: 0.5rem;
  border: var(--border);
  background: #f7f7f7;
  text-transform: none;
  width: 100%;
}

.contact .row form .box:focus {
  background: var(--bg);
}

.contact .row form textarea {
  height: 7rem;
  resize: none;
}

