
.review .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.review .box-container .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review .box-container .box .user h3 {
  font-size: 1.6rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.review .box-container .box .user .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.review .box-container .box .fa-quote-right {
  margin-left: auto;
  font-size: 5rem;
  color: var(--bg);
}

.review .box-container .box p {
  font-size: 80.5%;
  padding-top: 1rem;
  
  color: var(--light-color);
  font-style: italic;
}

