
section {
  --main-color: #e79653;
  /* #e8786e */
  --black: #555;
  --light-color: #777;
  --bg: #fcf4f4;
  /* #fceae9; */
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1rem;
  color: var(--black);
}

.heading span {
  color: var(--main-color);
  border-radius: 0.5rem;
  background: var(--bg);
  padding: 0 1.5rem;
}



.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto, minmax(20rem, 1fr));
  
}

.services .box-container .box {
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.services .box-container .box img {
  height: 5rem  ;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 1.6rem;
  padding-top: 1.5rem;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 1.8;
}

